.login-background {
    height             : 100vh;
    background-image   : url(../../assets/images/bg_login1.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;

    .login-container {
        width           : 400px;
        height          : 100%;
        margin          : auto;
        border          : 1px solid rgb(223, 106, 204);
        position        : absolute;
        background-color: white;
        top             : 0;
        bottom          : 0;
        right           : 0;
        left            : 0px;
        height          : 500px;

        .login-content {
            padding: 10px;

            .text-login {
                text-align : center;
                font-weight: 600;
                font-size  : 24px;
                padding-top: 10px;
            }

            .login-input {
                margin     : 8px 0;
                font-weight: 600;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 5px;
                        top     : 10px;
                        cursor  : pointer;
                    }
                }
            }

            .btn-login {
                width        : 100%;
                margin       : 10px 0;
                height       : 40px;
                border-radius: 5px;
                outline      : none;
                border       : none;
                background   : rgb(42, 164, 239);
                color        : white;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display        : flex;
                text-align     : center;
                justify-content: center;
                margin-top     : 10px;

                .google {
                    font-size      : 40px;
                    background     : rgb(211, 35, 35);
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                    margin-right   : 10px;
                    cursor         : pointer;
                }

                .facebook {
                    font-size      : 50px;
                    background     : blue($color: #4065ad);
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : rgb(41, 82, 162);
                    margin-right   : 10px;
                    cursor         : pointer;
                }
            }

            .text-orther-login {
                text-align : center;
                font-weight: 600;
                font-size  : 12px;
                padding-top: 10px;
            }
        }
    }
}