.login-background {
    background: rgb(34, 193, 195);
    height: 100vh;
    background: linear-gradient(135deg, rgb(207, 164, 199) 0%, rgb(214, 205, 186) 100%);

    .login-container {
        width: 400px;
        height: 100%;
        margin: auto;
        border: 1px solid rgb(223, 106, 204);
        border-radius: 10px;
        background-color: azure;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 500px;

        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 8px 0;
                font-weight: 600;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 30px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgb(207, 164, 199) 0%, rgb(214, 205, 186) 100%);
                color: white;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 40px;
                    background: rgb(211, 35, 35);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .facebook {
                    font-size: 50px;
                    background: blue($color: #4065ad);
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(41, 82, 162);
                    margin-right: 10px;
                    cursor: pointer;
                }
            }

            .text-orther-login {
                text-align: center;
                font-weight: 600;
                font-size: 12px;
                padding-top: 10px;
            }
        }
    }
}