.detail-specialty-container {
    .description-specialty {
        padding            : 10px;
        margin             : 15px 0;
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;


        h1,
        h2,
        h3 {
            font-size  : 16px;
            font-weight: 600;
        }

        .name {
            font-size       : large;
            font-weight     : 600;
            color           : #17a2b8;
            background-color: #eeeeee;
            border-radius   : 5px;
            text-align      : center;
            padding-bottom  : 10px;
        }

        .description {
            box-shadow      : 0 1px 4px #20212447;
            border-radius   : 8px;
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        }

    }

    .detail-specialty-body {
        padding       : 0 100px;
        background    : #eee;
        display       : flex;
        flex-direction: column;
    }

    .search-sp-doctor {
        select {
            height       : 30px;
            padding      : 5px 8px;
            border       : none;
            outline      : none;
            border-radius: 3px;
        }
    }

    .each-doctor {
        display   : flex;
        width     : 100%;
        min-height: 300px;
        margin    : 15px 0;

        background-color: #fff;
        box-shadow      : 0 1px 6px #20212447;
        border-radius   : 8px;
        padding         : 10px;

        .dt-content-left {
            width       : 50%;
            border-right: 1px solid #ddd;

            .profile-doctor-container {
                .down {
                    padding: 5px;
                }
            }
        }

        .dt-content-right {
            width  : 50%;
            padding: 10px;

            .doctor-schedule {
                .doctor-schedule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-infor {
                border-top : 1px solid #ddd;
                margin-top : 10px;
                padding-top: 10px;

                .doctor-extra-infor-container {
                    padding-left: 0 !important;
                }
            }

        }
    }
}